{% extends 'structure.html' %}
{% load static %}
<!-- A form used to create new teams that will be associated with the user and will be able to be posted on the lfg page -->
{% block content %}
<div class="center block">
  <h2 class="center">Create a New Team</h2>
  <div class="center">
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="center">
        <button type="submit">Create</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}