<!-- templates/pages/index.html -->
{% extends "structure.html" %}
{% load static %}
{% block content %}

{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}

{% if user.is_authenticated %}
  <div class="center">
    <form method="POST" action="{% url 'post_lfp' %}">
      {% csrf_token %}
      <label for="id_team">Your Team:</label>
      {{ lfp_form.team }}

      <label for="id_average_rank">Rank:</label>
      {{ lfp_form.average_rank }}

      <button type="submit">Post LFP</button>
    </form>
  </div>
{% else %}
  <p class="center">You must be logged in to post a LFP.</p>
{% endif %}

<hr>

<table class="userstat-table">
    <thead>
        <tr>
            <th>Host</th>
            <th>Team</th>
            <th>Rank</th>
            <th>Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for lfp in lfps %}
        <tr>
            <td>{{ lfp.host.username }}</td>
            <td>{{ lfp.team.team_name }}</td>
            <td>{{ lfp.average_rank }}</td>
            <td>{{ lfp.date_created|date:"M d \\a\\t g:i A" }}</td>
            {% if user.is_authenticated %}
            <td><a href="{% url 'lfg_detail' slug=lfp.slug %}">View Team</a>
                  {% if user == lfp.host %}
                    <form method="post" action="{% url 'delete_lfp' slug=lfp.slug %}">
                      {% csrf_token %}
                      <button type="submit" onclick="return confirm('Are you sure?');">Delete</button>
                    </form>
                  {% endif %} 
                  {% else %} 
                    <td>
                      <a {% if request.path == login_url %}active{% endif %}"
                        href="{% url 'account_login' %}">Login to view the match</a>
                    </td>
              {% endif %}
            </td>
        </tr>
    {% empty %}
        <tr><td colspan="4">No LFP posts yet.</td></tr>
    {% endfor %}
    </tbody>
</table>

{% if is_paginated %}
<nav>
    <ul class="pagination">
        {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}">&laquo; Prev</a></li>
        {% endif %}
        {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}">Next &raquo;</a></li>
        {% endif %}
    </ul>
</nav>
{% endif %}

{% endblock %}