{% extends "structure.html" %}
{% load static %}
{% block content %}
<!-- index.html content starts here -->
<table class="userstat-table">
    <thead>
        <tr>
            <th>Host</th>
            <th>Team</th>
            <th>Rank</th>
            <th>Date</th>
            </tr>
    </thead>
        {% for userstat in userstat_list %}
            <tbody>
                <tr>
                    <td>{{ userstat.player }}</td>
                    <td>{{ userstat.team_name }}</td>
                    <td>{{ userstat.rank }}</td>
                    <td>{{ userstat.created_on|date:"M d \a\\t g:i A" }}</td>
                    <td></td>
                </tr>
            </tbody>
        {% endfor %}
</table>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number}}" class="page-link">&laquo; PREVIOUS </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

<!-- index.html content ends here -->
{% endblock %}