{% extends 'structure.html' %}
{% load static %}
{% block content %}
<div class="center">
  <h1 class="lfg-title">{{ lfp.team.team_name }}</h1>
    <h2 class="lfg-title">Team Leader: {{ lfp.host.username }}</h2>
    <p class="lfg-title">Discord contact: {{ lfp.team.discord_name }}</p>
</div>
<table class="userstat-table">
    <thead>
        <tr>
            <th>Players</th>
            <th>Ranks</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
{% for slot in lfp.slots.all %}
    <tr>
        <td>
            {% if slot.player %}
                {{ slot.player.username }}
            {% else %}
                <em>Empty Slot</em>
            {% endif %}
        </td>
        <td>{{ lfp.team.rank }}</td>
        <td>
            {% if slot.player == user %}
                <form method="post" action="{% url 'leave_slot' slug=lfp.slug %}">
                    {% csrf_token %}
                    <button type="submit">Leave</button>
                </form>
            {% elif not user_in_team %}
            {% if not slot.player %}
                <form method="post" action="{% url 'join_slot' slug=lfp.slug %}">
                    {% csrf_token %}
                    <button type="submit">Join</button>
                </form>
            {% endif %}
            {% else %}
                <em>You are already a part of this team</em>
            {% endif %}
        </td>
    </tr>
{% endfor %}
    </tbody>
</table>
<div class="center">
    {% if lfp.team.team_logo and lfp.team.team_logo.public_id and lfp.team.team_logo.public_id != 'placeholder' %}
        <img class="team-logo center" src="{{ lfp.team.team_logo.url }}" alt="{{ lfp.team.team_name }} logo">
    {% else %}
        <img class="team-logo center" src="{% static 'images/default.jpg' %}" alt="default team logo">
    {% endif %}
    </div>
{% endblock content %}