{% extends 'structure.html' %}
{% load static %}

{% block content %}
  <h2>My Teams</h2>

  {% if teams %}
    <ul>
      {% for team in teams %}
        <li>
          <strong>{{ team.name }}</strong>
          <a href="{% url 'delete_team' slug=team.slug %}">Delete</a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>You haven't created any teams yet.</p>
  {% endif %}
  {% if request.GET.deleted %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    Swal.fire({
      icon: '{% if request.GET.deleted == "1" %}success{% else %}error{% endif %}',
      title: '{% if request.GET.deleted == "1" %}Team deleted successfully!{% else %}Failed to delete team.{% endif %}',
      showConfirmButton: false,
      timer: 2000
    });
  });
</script>
{% endif %}
{% endblock %}