{% extends 'structure.html' %}
{% load static %}
{% block content %}
<div class="your-team-profile">
    <h1>Profile</h1>
    <h2><strong>Username:</strong> {{ request.user.username }}</h2>
</div>
<h2 class="center underline">Your Teams</h2>
<div class="your-team-box center">
    {% if teams %}
        {% for team in teams %}
            <div class="your-team">
            <h3 class="center">{{ team.team_name }}</h3>
            <p class="center">Discord: {{ team.discord_name }}</p>
            <p class="center">Rank: {{ team.get_rank_display }}</p>

                <div class="center">
                    <form method="post"
                        action="{% url 'team_delete' slug=team.slug %}"
                        onsubmit="return confirm('Delete this team?');">
                    {% csrf_token %}
                    <button type="submit">Delete</button>
                    </form>
                </div>
                <div class="center">
                    <div class="center your-team-logo">
                        {% if team.team_logo and team.team_logo.public_id and team.team_logo.public_id != 'placeholder' %}
                            <img class="your-team-logo center" src="{{ team.team_logo.url }}" alt="{{ team.team_name }} logo">
                        {% else %}
                            <img class="your-team-logo center" src="{% static 'images/default.jpg' %}" alt="default team logo">
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <p class="center">You haven't created any teams yet.</p>
    {% endif %}
</div>

{% endblock %}